<div class="chart" ng-controller="ItemCtrl">

  Category: <input type="text" ng-model="categorySearch" placeholder="1, 5, or 8"><br />
  Brand: <input type="text" ng-model="brandSearch" placeholder="c1: 0, 2 || c5: 14 || c8: 5"><br />

  <style>
    tr, th, td {
      text-align: center;
      border: 1px dotted;
    }
    tr:nth-child(odd) {
      background-color: #DDD;
    }
  </style>

  currently ordered by item name

  <table>
    <tr>
      <th>id</th>
      <th>Category</th>
      <th>brand</th>
      <th>item</th>
      <th>numEvents</th>
      <th>sales</th>
      <th>volume</th>
      <th>margin</th>
      <th>profit</th>
      <th>transactions</th>
      <th>impact</th>
      <th>isBest</th>
      <th>followUp</th>
      <th>action</th>
      <th>hiddenAction</th>
      <th>actionColor</th>
      <th>disabled</th>
      <th>ActionOrder</th>
    </tr>
    <tr ng-repeat = "d in data | filter: { Category: categorySearch, brand: brandSearch } | orderBy: 'item'">
      <td>{{ d.id }}</td>
      <td>{{ d.Category }}</td>
      <td>{{ d.brand }}</td>
      <td>{{ d.item }}</td>
      <td>{{ d.numEvents }}</td>
      <td>{{ d.sales }}</td>
      <td>{{ d.volume }}</td>
      <td>{{ d.margin }}</td>
      <td>{{ d.profit }}</td>
      <td>{{ d.transactions }}</td>
      <td>{{ d.impact }}</td>
      <td>{{ d.isBest }}</td>
      <td>{{ d.followUp }}</td>
      <td>{{ d.action }}</td>
      <td>{{ d.hiddenAction }}</td>
      <td>{{ d.actionColor }}</td>
      <td>{{ d.disabled }}</td>
      <td>{{ d.ActionOrder }}</td>
    </tr>
  </table>
</div>
