<div class="chart" ng-controller="BrandCtrl">
  
  <div class="title">
    <h2>Brand</h2>
  </div>

  <div class="chart-content">
    Type a Category number here: <input type="text" ng-model="searchText">
  
    <table>
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>numberEvents</th>
        <th>IncSalesMin</th>
        <th>IncSalesMax</th>
        <th>IncSalesMean</th>
        <th>VolSalesMin</th>
        <th>VolSalesMax</th>
        <th>VolSalesMean</th>
        <th>MarSalesMin</th>
        <th>MarSalesMax</th>
        <th>MarSalesMean</th>
      </tr>
      <tr ng-repeat="d in data | filter: { Category: searchText }">
        <td>{{ d.Category }}</td>
        <td>{{ d.item }}</td>
        <td>{{ d.numberEvents }}</td>
        <td>{{ d.IncSalesMin }}</td>
        <td>{{ d.IncSalesMax }}</td>
        <td>{{ d.IncSalesMean }}</td>
        <td>{{ d.VolSalesMin }}</td>
        <td>{{ d.VolSalesMax }}</td>
        <td>{{ d.VolSalesMean }}</td>
        <td>{{ d.MarSalesMin }}</td>
        <td>{{ d.MarSalesMax }}</td>
        <td>{{ d.MarSalesMean }}</td>
      </tr>
    </table>
  </div>

  <div class="graph">
  </div>

</div>

<div class="actions">

  <div class="title">
    <h2>Action Required</h2>
  </div>

  <div class="actions-content">
    <div ng-repeat="d in data | filter: {disabled: false} | orderBy: 'ActionOrder'" style="background: {{ d.actionColor }}">
      {{ d.action }} {{ d.followUp }}
      <!-- only one of these should show up -->
    </div>
  </div>

</div>
