.navBar > div {
  top: 88px;
  float: left;
  position: absolute;
  height: 58px;
  width: 146px;
  background-color: #ccc;
}
.navBar > div:nth-child(odd) {
  background-color: #999;
}
.department {
  left: 20px;
}
.category {
  left: 187px;
}
.brand {
  left: 354px;
}
.item {
  left: 522px;
}
.item-tactic {
  left: 688px;
}
.tactic-detail {
  left: 855px;
}



.mainChart {
  position: absolute;
  top: 152px;
  left: 18px;
  width: 737px;
  height: 600px;
  background-color: #ccc;
}



.sideBar {
  position: absolute;
  background-color: #ccc;
  top: 152px;
  left: 770px;
  width: 233px;
  height: 600px;
}
