<div class="content">

  <div class="header">
    <h1>Durandos</h1>
  </div>

  <div class="dropdown">

    <div class="department dropdown-item">
      <div class="dropdown-title">DEPARTMENT</div>
      <div ng-class="{'dropdown-glyph-on':selectedDepartment, 'dropdown-glyph-off': !selectedDepartment}">
        <div class="dropdown-glyph-arrow" ng-click="changeDepartment()">
        </div>
      </div>
      <select class="form-control dropdown-toggle" ng-model="selectedDepartment" ng-options="department.item for department in displayDepartments" ng-change="changeDepartment()">
        <option value="">Department</option>
      </select>             
    </div>

    <div class="category dropdown-item">
      <div class="dropdown-title">CATEGORY</div>
      <div ng-class="{'dropdown-glyph-on': selectedDepartment, 'dropdown-glyph-off': !selectedDepartment}">
        <div class="dropdown-glyph-arrow" ng-click="changeCategory()">
        </div>
      </div>
      <select class="form-control dropdown-toggle" ng-model="selectedCategory" ng-options="category.item for category in displayCategories" ng-change="changeCategory()" ng-disabled="disableCategory">
        <option value="">Category</option>
      </select>  
    </div>

    <div class="brand dropdown-item">
      <div class="dropdown-title">BRAND</div>
      <div ng-class="{'dropdown-glyph-off':!selectedCategory, 'dropdown-glyph-on': selectedCategory}">
        <div class="dropdown-glyph-arrow" ng-click="changeBrand()">
        </div>
      </div>
      <select class="form-control dropdown-toggle" ng-model="selectedBrand" ng-options="brand.item for brand in displayBrands | brandFilter:selectedCategory" ng-disabled="disableBrand" ng-change="changeBrand()">
        <option value="">Brand</option>
      </select>
    </div>

    <div class="item dropdown-item">
      <div class="dropdown-title">ITEM</div>
      <div ng-class="{'dropdown-glyph-off':!selectedBrand, 'dropdown-glyph-on': selectedBrand}">
        <div class="dropdown-glyph-arrow" ng-click="changeItem()">
        </div>
      </div>
      <select class="form-control dropdown-toggle" ng-model="selectedItem" ng-options="item.item for item in displayItems | itemFilter:selectedBrand" ng-disabled="disableItem" ng-change="changeItem()">
        <option value="">Item</option>
      </select>
    </div>

    <div class="item-tactic dropdown-item">
      <div class="dropdown-title">ITEM TACTIC</div>
      <div ng-class="{'dropdown-glyph-off':!selectedItem, 'dropdown-glyph-on': selectedItem}">
        <div class="dropdown-glyph-arrow" ng-click="changeTactic()">
        </div>
      </div>
      <select class="form-control dropdown-toggle" ng-model="selectedTactic" ng-options="tactic.ad_type for tactic in displayTactics | tacticFilter:selectedItem" ng-disabled="disableTactic" ng-change="changeTactic()" >
        <option value="">Item-Tactic</option>
      </select>
    </div>
    
    <div class="tactic-detail-button">
      <div class="tactic-detail-text">
        View by<br />Tactic Detail
      </div>
      <div class="tactic-detail-arrow-container">
        <div class="tactic-detail-arrow">
        </div>
      </div>
    </div>

  </div>

  <div class="top">
    <div class="legend">
      <div class="blue-legend">+/= avg.<div class="blue-bar"></div></div>
      <div class="yellow-legend">- avg.<div class="yellow-bar"></div></div>
      <div class="orange-legend">Negative<div class="orange-bar"></div></div>
      <div class="green-legend">Best<div class="green-bar"></div></div>
    </div>
  </div>

  <div class="charts-actions">
    <div ui-view></div>
  </div>
  
  <div category-month></div>

</div>
