<div class="content">

  <div class="header">
    <h1>Durandos</h1>
  </div>

  <div class="dropdown">
    
    <div class="department dropdown-item">
      <div class="dropdown-title">DEPARTMENT</div>
      <select ng-model="selectedDepartment" ng-options="department.item for department in displayDepartments" ng-change="changeDepartment()">
        <option value="">Department</option>
      </select>
    </div>

    <div class="category dropdown-item">
      <div class="dropdown-title">CATEGORY</div>
      <select ng-model="selectedCategory" ng-options="category.item for category in displayCategories" ng-change="changeCategory()" ng-disabled="disableCategory">
        <option value="">Category</option>
      </select>  
    </div>

    <div class="brand dropdown-item">
      <div class="dropdown-title">BRAND</div>
      <select ng-model="selectedBrand" ng-options="brand.item for brand in displayBrands | brandFilter:selectedCategory" ng-disabled="disableBrand" ng-change="changeBrand()">
        <option value="">Brand</option>
      </select>
    </div>

    <div class="item dropdown-item">
      <div class="dropdown-title">ITEM</div>
      <select ng-model="selectedItem" ng-options="item.item for item in displayItems | itemFilter:selectedBrand" ng-disabled="disableItem" ng-change="changeItem()">
        <option value="">Item</option>
      </select>
    </div>

    <div class="item-tactic dropdown-item">
      <div class="dropdown-title">ITEM TACTIC</div>
      <select ng-model="selectedTactic" ng-options="tactic.ad_type for tactic in displayTactics | tacticFilter:selectedItem" ng-disabled="disableTactic" ng-change="changeTactic()" >
        <option value="">Item-Tactic</option>
      </select>
    </div>

  </div>

  <div class="charts-actions">
    <div ui-view></div>
  </div>

</div>
