@font-Face {
    font-family: Bauhaus93;
    src: url(assets/fonts/);
}

h1 {
    font-weight: bold;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #b3cbce;
}

.logo {
    font-family: Bauhaus93;
}

.content {
    height: 728px;
    width: 1024px;
    margin: 0 auto;
}

.header {
    width: 984px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    height: 54px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #9aafb2;
}

.dropdown {
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    width: 984px;
    height: 80px;
    padding-top: 10px;
}

.dropdown-title {
    font-size: 12px;
    padding-left: 6px;
    padding-bottom: 8px;
    float: left;
}

.dropdown-item {
    display: inline;
    width: 168px;
    float: left;
}

.dropdown-item select {
    color: #000;
    width: 144px;
    height: 32px;
}

.btn {
}

.charts-actions {
    float: left;
    width: 984px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.chart {
    height: 594px;
    width: 732px;
    background-color: #fff;
    float: left;
    clear: left;
    display: inline;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0 0 8px #53849c;
    box-shadow: 0 0 8px #53849c;
}

.chart-content {
    height: 432px;
}

.actions {
    float: right;
    width: 232px;
    height: 594px;
    background-color: #fff;
    display: inline;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 0 0 8px #53849c;
    box-shadow: 0 0 8px #53849c;
}

.title {
    h2 {
        font-weight: normal;
        color: #555;
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
    background-color: #ddd;
    height: 40px;
    padding: 10px 0 10px 12px;

    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.dropdown-glyph-on {
    background-color: #4a5555;
    margin-top: -3px;
    margin-left: 12px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    float: left;

    //-webkit-box-shadow: 0px -1px 1px 0px #323939;
    //-moz-box-shadow: 0px -1px 1px 0px #323939;
    //box-shadow: 0px -1px 1px 0px #323939;
}

.dropdown-glyph-off {
    background-color: #829496;
    margin-top: -3px;
    margin-left: 12px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    float: left;

    //-webkit-box-shadow: 0px -1px 1px 0px #748385;
    //-moz-box-shadow: 0px -1px 1px 0px #748385;
    //box-shadow: 0px -1px 1px 0px #748385;
}

.dropdown-glyph-arrow {

}

.tactic-detail-button {
    background-color: #77a5e7;
    margin-top: 6px;
    width: 144px;
    height: 50px;
    display: inline;
    float: left;
    border-radius: 25px;

    background-image: -webkit-linear-gradient(top, #7aa9eb 0%, #4280d9 50%, #417ed4 100%);
    background-image: -o-linear-gradient(top, #7aa9eb 0%, #4280d9 50%, #417ed4 100%);
    background-image: -moz-linear-gradient(top, #7aa9eb 0%, #4280d9 50%, #417ed4 100%);
    background-image: linear-gradient(top, #7aa9eb 0%, #4280d9 50%, #417ed4 100%);

    -webkit-box-shadow: 0px 2px 3px 0px #556062;
    -moz-box-shadow: 0px 2px 3px 0px #556062;
    box-shadow: 0px 2px 3px 0px #556062;
}

.tactic-detail-text {
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    margin-left: 10px;
    width: 100px;
    float: left;
    line-height: 18px;
    text-shadow: 0px 1px #294b7c;
}

.tactic-detail-arrow-container {
    margin-top: 11px;
    margin-left: 0px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    float: left;

    border: 2px solid white;

    background-image: -webkit-radial-gradient(50% 100%, circle closest-corner, #faac0e 13px, #fdbb35 14px, #fdd074 26px);
    background-image: -o-radial-gradient(50% 100%, circle closest-corner, #faac0e 13px, #fdbb35 14px, #fdd074 26px);
    background-image: -ms-radial-gradient(50% 100%, circle closest-corner, #faac0e 13px, #fdbb35 14px, #fdd074 26px);
    background-image: -moz-radial-gradient(50% 100%, circle closest-corner, #faac0e 13px, #fdbb35 14px, #fdd074 26px);
    background-image: radial-gradient(50% 100%, circle closest-corner, #faac0e 13px, #fdbb35 14px, #fdd074 26px);

    -webkit-box-shadow: 0px 1px 3px 0px #2a4d80;
    -moz-box-shadow: 0px 1px 3px 0px #2a4d80;
    box-shadow: 0px 1px 3px 0px #2a4d80;
}

.tactic-detail-arrow {
    margin-top: 6px;
    margin-left: 4px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    height: 10px;
    width: 10px;

    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.actions-title-text {
    width: 184px;
    display: inline;
    float: left;
}

.actions-glyph {
    display: inline;
    float: left;
    margin-top: -2px;
    width: 30px;
    height: 22px;
    border-radius: 11px;

    border: 2px solid white;

    background-image: -webkit-radial-gradient(50% -22px, circle closest-corner, #fff 16px, #f59398 24px, #ce0308 34px);
    background-image: -o-radial-gradient(50% -22px, circle closest-corner, #fff 16px, #f59398 24px, #ce0308 34px);
    background-image: -ms-radial-gradient(50% -22px, circle closest-corner, #fff 16px, #f59398 24px, #ce0308 34px);
    background-image: -moz-radial-gradient(50% -22px, circle closest-corner, #fff 16px, #f59398 24px, #ce0308 34px);
    background-image: radial-gradient(50% -22px, circle closest-corner, #fff 16px, #f59398 24px, #ce0308 34px);

    -webkit-box-shadow: 0px 2px 3px 0px #888;
    -moz-box-shadow: 0px 2px 3px 0px #888;
    box-shadow: 0px 2px 3px 0px #888;
}

.actions-number {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.actions-content {
    padding: 10px;
}

.action-info {
    width: 170px;
}

.green {
    font-size: 12px;
    width: 212px;
    padding: 10px;
    background-color: #f1f6e9;
    border-radius: 8px;
    border: 1px solid #8dc63f;
    margin-bottom: 8px;
}

.red {
    font-size: 12px;
    width: 212px;
    padding: 10px;
    background-color: #ffeeee;
    border-radius: 8px;
    border: 1px solid #ff0000;
    margin-bottom: 8px;
}

.yellow {
    font-size: 12px;
    width: 212px;
    padding: 10px;
    background-color: #fffcdd;
    border-radius: 8px;
    border: 1px solid #d9cb00;
    margin-bottom: 8px;
}

.bottom-border {
    background-color: #DDD;
    position: absolute;
    top: 718px;
    height: 10px;
    width: 732px;
    margin: auto;
    margin-left: 20px;

    -moz-border-radius-bottomright: 10px !important;
    -webkit-border-bottom-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    -moz-border-radius-bottomleft: 10px !important;
    -webkit-border-bottom-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

#lineGraph {
    position: absolute;
    top: 606px;
    width: 712px;
    height: 112px;
    margin: auto;
    margin-left: 30px;
    margin-bottom: 10px;
}

.top {
    height: 60px;
    width: 732px;
    position: absolute;
    display: inline;
    margin-left: 20px;
    top: 174px;
}

.legend {
    width: 174px;
    font-size: 9px;
    position: relative;
    float: right;
    display: inline;
    margin-top: 10px;
}

$bar-width: 38px;
$bar-height: 5px;
$legend-height: 60px;


.blue-legend {
    height: $legend-height;
    float: left;
    width: $bar-width;
    .blue-bar {
        width: $bar-width;
        height: $bar-height;
        background-color: #0071b1;
    }    
    margin-right: 3px;
}

.green-legend {
    height: $legend-height;
    float: left;
    width: $bar-width;

    .green-bar {
        width: $bar-width;
        height: $bar-height;
        background-color: #bade90;
    }     
    margin-right: 3px;
}

.yellow-legend {
    height: $legend-height;
    float: left;
    width: $bar-width;
    .yellow-bar {
        width: $bar-width;
        height: $bar-height;
        background-color: #f1a915;
    }        
    margin-right: 3px;
}

.orange-legend {
    height: $legend-height;
    float: left;
    width: $bar-width;
    .orange-bar {
        width: $bar-width;
        height: $bar-height;
        background-color: #e06d00;
    }
    margin-right: 3px;
}

.calendar {
    position: relative;
    top: -24px;
    left: 374px;
    width: 400px;
}

input {
    width: 100px;
}