h1 {
    font-size: 32px;
}

body {
    background-color: #9499af;
}

.content {
    height: 768px;
    width: 1024px;
    margin: 0 auto;
}

.header {
    color: #fff;
    height: 60px;
    border-bottom: 1px solid #8b8da4;
}

.dropdown {
    color: #fff;
    width: 1024px;
    height: 80px;
}

.dropdown-title {
}

.dropdown-item {
    display: inline;
    width: 160px;
    float: left;
}

.dropdown select {
    width: 140px;
}

.charts {
    background-color: #fff;
}

.actions {
    background-color: #fff;
}