<div class="chart" ng-controller="ItemTacticCtrl">
  <div class="title">
    <h2>Item Tactic</h2>
    <div class="calendar">
    From:
    <span>
      <input type="text"></input>
      <button type="button">
        <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </span>
    To:
    <span>
    <input type="text"></input>
      <button type="button">
        <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </span>
    </div>
  </div>

  <div class="chart-content">
    <style>
      tr, th, td {
        text-align: center;
        border: 1px dotted;
      }
      tr:nth-child(odd) {
        background-color: #DDD;
      }
    </style>

    <table>
      <tr>
        <th>id</th>
        <th>item_id</th>
        <th>item</th>
        <th>avgRetail</th>
        <th>avgPromoPrice</th>
        <th>page</th>
        <th>ad_week</th>
        <th>ad_type</th>
        <th>sales</th>
        <th>volume</th>
        <th>margin</th>
        <th>profit</th>
        <th>transactions</th>
        <th>impact</th>
        <th>isBest</th>
        <th>followUp</th>
        <th>action</th>
        <th>hiddenAction</th>
        <th>actionColor</th>
        <th>actionOrder</th>
      </tr>
      <tr ng-repeat="d in data">
        <td>{{ d.id }}</td>
        <td>{{ d.item_id }}</td>
        <td>{{ d.item }}</td>
        <td>{{ d.avgRetail }}</td>
        <td>{{ d.avgPromoPrice }}</td>
        <td>{{ d.page }}</td>
        <td>{{ d.ad_week }}</td>
        <td>{{ d.ad_type }}</td>
        <td>{{ d.sales }}</td>
        <td>{{ d.volume }}</td>
        <td>{{ d.margin }}</td>
        <td>{{ d.profit }}</td>
        <td>{{ d.transactions }}</td>
        <td>{{ d.impact }}</td>
        <td>{{ d.isBest }}</td>
        <td>{{ d.followUp }}</td>
        <td>{{ d.action }}</td>
        <td>{{ d.hiddenAction }}</td>
        <td>{{ d.actionColor }}</td>
        <td>{{ d.actionOrder }}</td>
      </tr>
    </table>
  </div>

</div>

<div class="actions">

  <div class="title">
    <div class="actions-title-text">
      <h2>Action Required</h2>
    </div>
    <div class="actions-glyph">
      <div class="actions-number">
        {{ data.length }}
      </div>
    </div>
  </div>

  <div class="actions-content">
    <div ng-repeat="d in data | filter: {disabled: false} | orderBy: 'ActionOrder'" class="{{ d.actionColor }}">
      <div class="action-info">
      <strong ng-show="d.action">Action: </strong>{{ d.action }} 
      <strong ng-show="d.followUp">Follow-Up: </strong>{{ d.followUp }}
      </div>      <!-- only one of these should show up -->
      <div class="expand">
      </div>
    </div>
  </div>
</div>
